* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;

  background: #F0F0F7;
}

header {
  background-color: #8257E5;
  
  width: 100%;
  height: 240px;
}

#header-container {
  font-family: Poppins;
}

#header-container img {
  width: 100px;
  height: 35px;
}

#header-container #logo {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-container #logo h2 {
  color: #F0F0F7;
  font-size: 40px;
}

#header-container #texto {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: left;

  color: #FFFFFF;
  font-weight: bold;
  font-size: 32px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  width: 100%;
  margin-top: 64px;
}

.contentDados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 550px;
  height: 280px;
  background: #FFFFFF;
  font-family: Archivo;
  font-size: 20px;
  line-height: 32px;

  border-radius: 8px;

  margin-bottom: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card #dados-pessoais {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 20px;
}

.card #data-horario {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.card #data-horario #horario {
  padding-right: 44px;
}

main #buttonDelete {
  position: relative;
  bottom: 200px;
  left: 240px;
}

button#delete {
  border: none;
  cursor: pointer;
}

button#delete img{
  width: 32px;
  height: 32px;

  background-color: #FFFFFF
}